$navbar-height: 100px

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body
  color: #2C3E50
  background-color:	#FFFFFF !important
  padding-top: 0px
  padding-bottom: 0px

//Header//
.navbar
  background-color: #531345
.row
 margin-top: -25px
.col-sm-4 
  height: 10px

.nav-pills > li > a
  text-transform: uppercase
  font-size: 14px
  font-family: "Roboto Condensed, sans-serif", Helvetica,sans-serif
  color: #FFFFFF
  font-weight: bold
  position: static
  display: inline-block
  padding: 8px
  padding-top: 8px
  margin: 10px
  transition: background-color 2s
  border-radius: 1px

  &:hover
    color: #FFFFFF
    background-color: #FF00FF
    border-radius: 1px

.navbar-toggle
  position: relative
  float: right
  margin-right: 25px
  padding: 9px 10px
  margin-top: 20px
  margin-bottom: 33px
  background-color: transparent
  background-image: none
  border: 1px solid transparent
  border-radius: 4px

.navbar-brand > img
  display: block
  margin-top: -140px
  margin-left: -10px
  width: 88%

//header//

//Carousel//
.carousel
  height: 480px
  margin-bottom: 20px
  margin-top: -18px

.carousel-control.right
  margin-bottom: 70px

.carousel-control.left
  margin-bottom: 70px

.carousel-caption
  line-height: 1.43
  font-weight: bold
  text-shadow: 0 0 0.1em black, 0 0 0.1em black, 0 0 0.1em #87F
  z-index: 0px
  margin-bottom: -25px
  margin-top: 0px
  color: #fff
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 18px

.carousel-indicators
  margin-bottom: -7px
  height: 85px

.carousel-indicators .active
  margin: 0px
  width: 14px
  height: 14px
  background-color: #337AB7

.carousel .item
  height: 410px
  background-color: #777

.carousel-inner > .item > img
  position: absolute
  top: 0
  left: 0
  min-width: 100%
  height: 410px
  width: 0px

  //carousel//

.marketing .col-lg-4
  margin-bottom: 20px
  text-align: center

.marketing h2
  font-weight: normal

.marketing .col-lg-4 p
  margin-right: 10px
  margin-left: 10px

.bs-docs-footer
  padding-top: 5px
  padding-bottom: 15px
  color: #ffffff
  text-align: center
  background-color: #531345

.jumbotron h2
  text-align: center

.breadcrumb
  margin-top: 20px
  margin-bottom: 0px
  list-style: none
  background-color: #ffffff
  border-radius: 10px
  text: center
  color: #fff

.rodape
  font-family: 'PT Serif', serif
  background-color: #cd2ea9
  color: #ffffff
  padding: 18px
  margin-bottom: -13px
